.beforeSearch {
  margin-top: 150px;
  align-items: center;
  display: flex;
  min-height: 25vh;
  justify-content: center;
}

.afterSearch {
  margin-top: 40px;
  align-items: center;
  display: flex;
  min-height: 25vh;
  justify-content: center;
}

.section {
  margin: 0 auto;
}
.item {
  max-width: 50%;
}
