.display {
  display: inline-block;
  width: 278px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  transition: all 0.3s ease;
  text-align: center;
  box-shadow: 10px 10px 10px 10px rgb(89, 89, 89);
  color: #ffcc00;
  background-color: black;
}
