.form {
  width: 500px;
  height: 50px;
  color: #a3a3a3;
  padding-left: 12px;
  outline: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  margin: 20px;
  font: inherit;
}

.btn {
  background: transparent;
  color: black;
  font: inherit;
  border: 10px;
  outline: 10px;
  padding: 10px;
}

.sub-text {
  padding: 25px;
  width: 430px;
  height: 38px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  color: darkgrey;
  margin: auto;
}

.input-field {
  width: 200px;
  text-align: center;
}
