mat-toolbar {
  background-color: black;
}

.logo {
  width: 270px;
  height: 115px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  left: 25px;
}

nav a {
  color: #d9d9d9;
  font-weight: bolder;
}

label {
  color: #d9d9d9;
  margin-left: -62px;
}

#x option {
  width: 2px;
  background-color: blanchedalmond;
}

.mat-tab-nav-bar {
  background-color: black;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
}
