//Basic Elements
body {
  font-family: " Open Sans ", sans-serif;
  text-align: center;
  margin: 0;
  background-image: url("./assets/image/star-wars-backgrounds-25.jpg");
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
